body {
    margin: 0px;
    padding: 0px;
}

.btn-square {
    border-radius: 0px;
}

.width-100 {
    width: 100%;
}

.nombre-pagina {
    background: #9c9c9c;
    color: #ffffff;
    text-align: center;
    padding: 2px;
    position: relative;
    z-index: 3;
    /*margin: 0px;*/
    width: 100%;
}

.div-country-dropdown {
    padding: 10px;
}

footer {
    background-color: #9c9c9c;
    color: #fbd253;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

    footer p {
        margin: 10px 0;
    }

    footer i {
        color: red;
    }

    footer a {
        color: #3c97bf;
        text-decoration: none;
    }

.body  {
    background-image: url('../images/logoInicial.jpg');
    background-color: #f4f4f4;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.5;
    /*position: relative;*/
}


/*============================================ SCROLLBAR ======================================*/

/*::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    /*background: #bababa;
}

.scroll {
    overflow: auto;
    scrollbar-face-color: Background;
    scrollbar-shadow-color: ActiveBorder;
}*/

.menu-principal {
    padding-top: 8px;
    padding-bottom: 5px;
    border-bottom: 1px solid #9c9c9c;
    padding-left: 15px;
    width: 98%;
    /*z-index: 2;*/
    position: relative;
}

.icono-menu {
    font-size: 23px;
    cursor: pointer;
    color: #9c9c9c;
}

.principal {
    position: absolute;
    height: 100%;
    width: 100%;
}

/*============================================ SIDEBAR ======================================*/

.sidebar {
    top: 50px;
    left: -250px;
    height: 100%;
    background: #9c9c9c;
    width: 250px;
    position: absolute;
    transition: left 0.3s linear;
    z-index: 2;
}

    .sidebar ul {
        list-style: none;
        padding: 0px;
    }

    /*.sidebar li {
        border: 1px solid #2a2a2a;
    }*/

    .sidebar li:hover {
        background: #a2a2a2;
    }

    .sidebar a {
        color: #ffffff;
        text-decoration: none;
        display: block;
        padding: 10px;
    }

    .sidebar h4 {
        color: #ffffff;
        margin: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        background: #9c9c9c;
    }

.visible {
    left: 0px;
    transition: left 0.3s linear;
}

.fixed-sidebar {
    position: fixed;
}

.fixed {
    width: 100%;
    z-index: 2;
    background: #ffffff;
    position: fixed;
    top: 0;
    -webkit-box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.39);
    box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.39);
}

.main-nav ul {
    display: none;
}

.main-nav li.show ul {
    border: none;
    padding: 0px;
    display: block;
    /*background: #2c3e50;*/
}

.main-nav li ul li {
    border: none;
}

    .main-nav li ul li a {
        border: none;
        padding: 4px;
        /*padding-left: 10px;*/
    }

.main-nav li.show ul li:hover {
    border: none;
    display: block;
    background: #a2a2a2;
    /*padding-left: 10px;*/
}

.encima {
    display: block;
    position: fixed;
    top: 0;
    background: rgba(0,0,0,0.39);
    height: 100%;
    z-index: 2;
    width: 100%;
}

/*============================================ BOTONES ========================================*/

.btn-image {
    background: none;
    border: none;
}

.btn-new, btn-new:focus {
    float: right;
    color: #ffffff;
    background: #27ae60;
    border: 1px solid #bababa;
}


    .btn-new:hover {
        color: #ffffff;
        background: #2ecc71;
    }

.btn-green, .btn-green:focus {
    margin-left: 5px;
    margin-right: 5px;
    float: right;
    color: #ffffff;
    background: #16a085;
    border: 1px solid #bababa;
}

    .btn-green:hover {
        color: #ffffff;
        background: #1abc9c;
        border: 1px solid #bababa;
    }

.btn-cargar, .btn-cargar:focus {
    color: #ffffff;
    background: #d35400;
    border: 1px solid #bababa;
}

    .btn-cargar:hover {
        color: #ffffff;
        background: #e67e22;
        border: 1px solid #bababa;
    }

.btn-blue, .btn-blue:focus {
    color: #ffffff;
    background: #2980b9;
    border: 1px solid #bababa;
}

    .btn-blue:hover {
        color: #ffffff;
        background: #3498db;
        border: 1px solid #bababa;
    }

.btn-save {
    float: right;
    color: #ffffff;
    background: #2980b9;
    border: 1px solid #bababa;
}

    .btn-save:hover {
        color: #ffffff;
        background: #3498db;
        border: 1px solid #bababa;
    }

.btn-delete, btn-delete:focus {
    float: right;
    color: #ffffff;
    background: #c0392b;
    border: 1px solid #bababa;
}

    .btn-delete:hover {
        color: #ffffff;
        background: #e74c3c;
    }

.btn-cancel, btn-cancel:focus {
    float: right;
    color: #ffffff;
    background: #f39c12;
    border: 1px solid #bababa;
}

    .btn-cancel:hover {
        color: #ffffff;
        background: #f1c40f;
    }

.btnIngresar {
    width: 100%;
    border: none;
    padding: 8px;
    color: #ffffff;
    background: #3498db;
    font-size: 20px;
}

    .btnIngresar:hover {
        background: #2980b9;
    }

.btn-country {
    font-size: 15px;
    border-style: none;
    border: 2px solid #ffffff;
    background: #2c3e50;
    margin: auto;
}

    .btn-country:hover {
        background: #ffffff;
    }

    .btn-country:focus {
        background: #ffffff;
    }

/*============================================ TEXBOXES ========================================*/

.form-control {
    border-radius: 0px;
}

.btn-width-30 {
    width: 30%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control-search {
    width: 20%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/*============================================ PAGINACION ========================================*/

.GridPager a, .GridPager span {
    display: block;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 7px;
    padding-right: 7px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-right: 7px;
}

.GridPager a {
    background-color: #f5f5f5;
    color: #969696;
    border: 1px solid #969696;
}

.GridPager span {
    background-color: #A1DCF2;
    color: #000;
    border: 1px solid #3AC0F2;
}

.header-grid {
    background: #3498db;
    color: #ffffff;
}

/*-----------------------------------------------------------*/

.principal-container-general {
    margin: 0;
    padding: 0;
}

.class-login-principal {
    padding-top: 10%;
}

/*.footer-class {
    z-index: 2;
    position: absolute;
    bottom: 0;
}*/


/*--------------------------------------------------------*/

.header-login {
    display: block;
    color: #ffffff;
    background: #9c9c9c;
    text-align: center;
}


.div-country-dropdown {
    padding: 10px;
}

.btn-country {
    font-size: 15px;
    border-style: none;
    border: 2px solid #ffffff;
    background: #2c3e50;
    margin: auto;
}

    .btn-country:hover {
        background: #ffffff;
    }

    .btn-country:focus {
        background: #ffffff;
    }


.div-login {
    text-align: center;
}

.principal-container {
    width: 100%;
    height: 85%;
    position: absolute;
    background: #dddddd;
    margin: 0;
}

.form-login {
    margin: 0;
    padding: 0;
}

.header-login-window {
    padding: 8px;
    font-size: 20px;
    width: 100%;
    background: #9c9c9c;
    color: #ffffff;
}

.textboxes-login {
    padding: 15px;
    background: #f3f3f3;
    border: 1px solid #bdbdbd;
}

.btnIngresar {
    width: 100%;
    border: none;
    padding: 8px;
    color: #ffffff;
    background: #9c9c9c;
    font-size: 20px;
}

    .btnIngresar:hover {
        background: #2980b9;
    }

.form-control {
    border-radius: 0px;
}

/*============================================ TREEVIEW ========================================*/

.mainTv {
    display: table;
    border-right: 1px solid #bdc3c7;
    border-left: 1px solid #bdc3c7;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    color: #2c3e50;
}

.treeNode {
    font: 15px Arial, Sans-Serif;
    border-bottom: 1px solid #bdc3c7;
    width: 100%;
    padding: 5px;
    text-decoration: none;
}

.rootNode {
    font-size: 24px;
    padding-left: 5px;
}

.leafNode {
    padding: 4px;
    color: #2c3e50;
    border: none;
}

.selectNode {
    font-weight: bold;
    color: #ffffff;
    background: #969696;
}

.HoverNodeStyle {
    width: 100%;
}

/*============================================ ACCORDEON ========================================*/

.accordion {
    background-color: #eee;
    padding: 10px;
    color: #444;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

    .accordion:hover {
        background-color: #ddd;
    }

    .accordion.active:after {
        content: "\2796";
    }

    .accordion:after {
        content: '\02795';
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
    }

.panelaccordion {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

    .panelaccordion.show {
        opacity: 1;
        max-height: 500px;
    }

/*============================================ CHECKBOXLIST ======================================*/

.cklist {
    font-weight: normal;
}

/*=============================================== ALERT ==========================================*/
.alerta {
    position: fixed;
    bottom: 20px;
    z-index: 1;
    right: 0;
}

.messagealert {
    width: 70%;
    position: relative;
    top: 0;
    z-index: 100000;
    padding: 0;
    font-size: 15px;
}

.messageModalAlert {
    width: 100%;
    position: relative;
    top: 0;
    z-index: 100000;
    padding: 0;
    font-size: 15px;
}

.overlay {
    position: fixed;
    z-index: 98;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: black;
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.8;
}



.overlayContent {
    z-index: 99;
    width: 60px;
    height: 60px;
    margin: 250px auto;
    opacity: 1;
    -moz-opacity: 1;
}

.oculto {
    visibility: hidden
}

/*RG 14/08/2019 Definido para el menu respecto a la información del usuario*/
.FontUserInfo {
    font-style: normal;
    font-size: 14px;
    font-family: Arial;
}
