@model RolesModel
@{
    ViewData["Title"] = "SaveRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <h5 class="card-header">Agregar Usuario</h5>
    <div class="card-body">
        <form asp-action="SaveRoles" asp-controller="Maintainer" method="post">
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input asp-for="Descripcion" type="text" class="form-control">
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="GetListRoles" asp-controller="Maintainer" class="btn btn-warning">Volver a la lista</a>
        </form>
    </div>
</div>
