<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DALInmobiliaria.Properties.Settings.BDPropertyRentConnectionString"
            connectionString="Data Source=DESKTOP-5DD360I\SQLEXPRESS;Initial Catalog=BDPropertyRent;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>